/**/
/*for the main height*/
main{
  min-height: 600px;
  margin-top:40px;
}
/*for the header nav*/
@media (min-width: 990px) {
  #logo{
    margin-left: 15%!important;
  }
  #navbarSupportedContent{
    margin-left: -20%!important;

  }

 }

 #logo{
   color:#ccc!important;
   width: 200px;
 }
.index-top{
  padding: 40px 0px;
  background: url("../images/main1.jpg");
  background-position: center;
  background-size: contain;

}
.index-bottom{
  margin:20px auto;
  padding: 20px 0px;
}
.homemeth{
  max-width: 310px;
  margin: 5px auto 15px;
  list-style-type:disc;
  font-family:Verdana, sans-serif;
  font-weight: bold;
}
.carousel-item img{
  max-width: 442px;
}
.cloth{
  height: auto;
  width: 80%;
  padding:100px 0px;
  margin: 0px auto;
  background: rgba(228, 175, 11,.5);

}
.main-btn{
  margin-top: 50px;
  font-size: 2rem;
}
.generated{
  background:lightgrey;
  padding:2px;
  vertical-align:middle;
}

.c-app{
  background: url("../images/capp-bg.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.zelle{
  background: url("../images/zelle-trans.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

}
.icons{
  width:100%;
  height: 90px;
  background: #2193b0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 5px;
  float: left;
  text-align:  center;
}
.icon-inner{
  display: block;
  color:white;
  margin-top:-55px;
  color: #2193b0;  /* fallback for old browsers */
  color: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}


/*faq page*/
.mg-auto{
  margin: 10px auto;
}
.side-bar{

}

/*footer*/
footer{
  font-size: 12px!important;
  padding: 40px 10px;
}
footer a, footer p,footer span, footer div{
  color: #aaa;
}
.va-m{
  vertical-align: middle!important;
}
.contact{

}
/*terms page*/
.term-ol li{
  margin: 4px 0px;
  line-height: 1.8;
}
/*utilities*/
.powered{
  width: 50px;
  position: absolute;
  z-index: 25;
  top:5px;
  left: 90%;

}
.powered-bottom{
  font-size: 10px;
  font-weight: bold;
  font-style:italic;
  color: grey;
  width: auto;
  position: absolute;
  z-index: 15;
  top:95%;
  left: 80%;

}
.bold{
  font-weight: bold;
}
.bg1{

  background: url("../images/bg2.jpg");
  background-position: bottom;

}
.bg2{

  background: url("../images/bg1.jpg");
  background-position: bottom;

}
.bg-nb{
  background: #253B80;
  color: #fff;
}
.bg-lb{
  background: #2193b0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.tc-y{
  color:#000!important;
  font-weight:bold;
}
.c-y{
  color:#FFBE00;
}
.c-wh{
  color:#fff;
}
.bg-y{
  background: rgb(228, 175, 11);
}
.bg-g{
  background: #ccc;
}
.bg-lg{
  background: #eee;
}
.bg-blk-o{
  background: rgba(52, 58, 64,.9);
}
.bg-ly{
  background: rgba(228, 175, 11,.8);
}
.max-width-1{
  height: 10em;
  width: 100%;
}
.sm-txt{
  font-size:14px;
}
.bor-top{
  border-top:2px solid white;
  height: 10px;
  width: 100%;
}
.scr-img{
  max-height: 192px;
}
.coin-address{
  width: auto;
  height: 50px;
  padding-top: 15px;
  background: white;
  border-radius: 50px;
  text-align: center;
  font-size: 90%;
}
/*this is for the sell page it works with the js funtion*/
.hide{
display:none;
}
