/**/
/*for the main height*/
main{
  min-height: 600px;
  margin-top:40px;
}
/*for the header nav*/
@media (min-width: 990px) {
  #logo{
    color:pink;
    margin-left: 10%!important;
  }
  #navbarSupportedContent{
    margin-left: -20%!important;
  }

 }
.index-top{
  padding: 40px 0px;
  background: url("../images/main1.jpg");
  background-position: center;
  background-size: contain;

}
.cloth{
  height: 400px;
  width: 80%;
  padding:150px 0px 0px;
  margin: 0px auto;
  background: rgba(228, 175, 11,.5);

}
.main-btn{
  margin-top: 50px;
  font-size: 2rem;
}
.generated{
  background:lightgrey;
  padding:5px;
}


.icons{
  width:100%;
  height: 90px;
  background:#FDCD2B;
  padding: 5px;
  float: left;
  text-align:  center;
}
.icon-inner{
  display: block;
  color:white;
  margin-top:-55px;
  color:#FDCD2B;

}


/*faq page*/
.mg-auto{
  margin: 10px auto;
}
.side-bar{

}

/*footer*/
footer{
  font-size: 12px!important;
  padding: 40px 10px;
}
footer a, footer p,footer span, footer div{
  color: #aaa;
}
.va-m{
  vertical-align: middle!important;
}
.contact{

}

/*utilities*/
.tc-y{
  color:#ccc!important;
}
.c-y{
  color:#FFBE00;
}
.bg-y{
  background: rgb(228, 175, 11);
}
.bg-g{
  background: #ccc;
}
.bg-lg{
  background: #eee;
}
.bg-blk-o{
  background: rgba(52, 58, 64,.9);
}
.bg-ly{
  background: rgba(228, 175, 11,.8);
}
.max-width-1{
  height: 10em;
  width: 100%;
}
